.reveal.default {
  font-family: fira sans, sans-serif, -apple-system;
}
.reveal .backgrounds div:nth-of-type(odd) .slide-background-content {
  background: #ff97d9 url("images/logo.png") top -100px right -100px no-repeat;
  background-size: 30%;
}

.reveal .backgrounds div:nth-of-type(even) .slide-background-content {
  background: #000 url("images/logo.png") bottom -100px right -100px no-repeat; /* Renaisse black */
  background-size: 30%;
}
